<h1>Tạo danh mục mới</h1>
<form [formGroup]="categoryForm" (ngSubmit)="submit()">
  <table>
    <tr>
      <td class="col-form-label-lg">Tên danh mục:</td>
      <td><input class="input-group-text" type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td> <div
        *ngIf="(
              categoryForm.get('name')?.dirty ||
              categoryForm.get('name')?.touched
             ) &&
             categoryForm.get('name')?.invalid"
      >
       Invalid
      </div></td>
      <td>
        <button [disabled]="categoryForm.invalid">Tạo mới</button>
      </td>
    </tr>
  </table>
</form>
